.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: calc(33.33% - 20px);
    margin: 10px;
    transition: width 0.5s;
}

/* Two images per row for screens smaller than 800px */
@media (max-width: 200px) {
.gallery img {
        width: calc(50% - 20px);
    }
}

/* One image per row for screens smaller than 500px */
@media (max-width: 100px) {
.gallery img {
        width: 100%;
        margin: 10px 0;
    }
}

